$black: #000;
$title-font: "Rock Salt", cursive;

.bg-black {
  background-color: $black;
}

.variant-black {
  background-color: $black;
  color: white;
}

.border-black {
  border: 10px solid $black;
}

.home {
  min-height: 100vh;

  .home-name {
    margin-right: -60px;
    top: 5vh;

    h1 {
      font-family: $title-font;
      font-size: 3em;
    }
  }
}

.btn-social-icon {
  padding: 0.1rem 0.5rem;
}

.page-header {
  border-bottom: 1px ridge;
  h1 {
    font-family: $title-font;
  }
}

.form-label {
  font-family: $title-font;
}
/*-------- Project Card -------*/
.proj-logo {
  padding: 20px;
  width: "100%";
  height: auto;
  padding-top: "100%";
}

.proj-btns {
  background-color: $black;
  color: white;
  text-align: center;
}
