$black: #000;
$skyBlue: rgb(61, 151, 247);
$darkGrey: #495057;
$lightGrey: #adb5bd;
$title-font: "Rock Salt", cursive;

.bg-black {
  background-color: $black;
}

.variant-black {
  background-color: $black;
  color: white;
}

.border-black {
  border: 10px solid $black;
}

.border-black-md {
  border: 7px solid $black;
}

.border-custom-white {
  border: 10px solid white;
}

.home {
  min-height: 100vh;

  .home-name {
    margin-right: -60px;
    top: 5vh;

    h1 {
      font-family: $title-font;
      font-size: 3em;
    }
  }
}

.btn-social-icon {
  padding: 0.1rem 0.5rem;
}

.page-header {
  border-bottom: 1px ridge;
  h1 {
    font-family: $title-font;
  }
}

.form-label {
  font-family: $title-font;
}
/*-------- Project Card -------*/
.proj-logo {
  padding: 20px;
  width: "100%";
  height: auto;
  padding-top: "100%";
}

.proj-btns {
  background-color: $black;
  color: white;
  text-align: center;
}

.project-badge {
  padding: 10px;
  position: absolute;
  top: -15px;
  //right: 20px;
}
/*-------- About Me -------*/

.about-me {
  a {
    color: $lightGrey;
    font-style: italic;
    &:hover {
      color: $skyBlue;
      text-decoration: none;
      font-style: normal;
    }
  }
}

/*-------- Blog -------*/

.blog-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.blog-date {
  font-size: 13px;
}

.blog-content {
  font-size: 15px;
}

/*-------- Resume -------*/

.react-pdf__Page__canvas {
  width: 100% !important;
  height: auto !important;
}
